
@{
    ViewBag.Title = "AboutMe";
}

    <section class="about-me-header w-100 position-relative overflow-hidden d-flex flex-column justify-content-center align-items-center">
        <h1>About Me...</h1>
        <img class="about-me-svg" src="~/globalimg/about_me_svg.svg" alt="gemspace-about-me-svg" />
        <img class="about-me-wave" src="~/globalimg/about_me_wave.svg" alt="gemspace-about-me-svg" />
    </section>
    <section class="w-100 position-relative about-me-text">
        <h3>I am an Adventurer, a Basketball Player, Code and Food lover = A Dreamer :D</h3>
        <br /><br />
        <p>
            Salut my friends, with which we are sharing this universe. My name is Xhemi and I am 22 years old. For now I’m a programmer that probably someday will write book about her life while traveling. Going from notes in a diary, essays with a thoughts when I’m trying to explain meaning of what’s going on by my way and about people who touched my soul in everyday life.
            If to talks about me I’m still quite shy person, sometimes I can talk a lot if I have real connection with someone, but after a lot of spoken stories feel exhausting. Silence helps us to understand how far away we were from each other (as it sings in one of my favorite songs) and to feel a magic of being side by side.
            I love nature, have a lot of dreams that mostly directed to break old version of me who always have doubts or says “It’s impossible”. Like when I am hiking on mountains and crossing arid deserts, there are always unexpected things happening. But I learned to be positive in any circumstances: see something as a problem is just one interpretation. A problem can be transformed as a possibility to follow a new way.
            I love sports too, it's like an addiction I have. I'm into a little bit of everything. You want to know what I love most about sports? I love the competitiveness it has, I also love how anything can happen in the last few seconds. It's like life, you never know what you're going to get. You may lose, you may win, very few situations in life are so cut and dry, but in the end, if you try harder , you are the winner.
            My philosophy is : Carpe diem: Take advantage of the present moment favoring the positive aspect of the days.
            I like to say that "fate doesn't exist, there is only meeting"  I believe that we are the only master of our destiny. If you want to reach a special goal, waiting for "luck" will not change anything. Because by waiting, you are not in action and if an opportunity is coming, you will not be ready to take it ;) that's why, my philosophy is to be in action all the time (Even if it is quite difficult)
            <br /> <br />
            If you like my work, let's talk about how can we collaborate to create something unique.
        </p>
    </section>

