@model GemspaceBlog.Models.Post

@{
    ViewBag.Title = "Article";
}


    <section class="article-header-img w-100 position-relative">
        <img src="@Url.Content(Model.Img2Path)" />
    </section>

    <section class="article-container">
        @*//long desc dhe title photo 2*@
        <h1>@Model.Title</h1>
        <h5>@Model.CreatedAt</h5>
        <p>@Model.LongDescription</p>

    </section>