@{
    ViewBag.Title = "Home Page";
}

abababababa

<section class="main-content">
    <div class="generated-content">
        @*need title short desc img 1*@
        <h2 class="generated-title"></h2> <!--title-->
        <img class="generated-img" src=""> <!--image 1-->
        <p class="generated-shdesc"></p><!--short desc-->
        <h4 class="generated-category"></h4><!--category-->
    </div>  
</section>