@model GemspaceBlog.Models.Post

@{
    ViewBag.Title = "Nature";
}

<section class="w-100 position-relative overflow-hidden pages-header">
    <img class="page-wallpaper" src="~/globalimg/nature-landscape.jpg" alt="GemSpace Coding Wallpaper" />
    <h1>Nature</h1>
    <img class="page-wave-svg w-100" src="~/globalimg/page-wave.svg" alt="GemSpace Page Wave Svg" />
</section>

<section class="main-content">
    <article class="generated-content">
        @*need title short desc img 1*@
        <div class="generated-img">
            <img src="~/globalimg/main-wallpaper.jpg"> <!--image 1-->
        </div>
        <div class="generated-text">
            <div class="w-100 d-flex justify-content-between flex-wrap">
                <h2 class="generated-title">Titull Blog 1</h2><!--title-->
                <h5 class="generated-category">Basketball</h5><!--category-->
            </div>
            <p class="generated-shdesc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum
            </p><!--short desc-->
            <h6 class="text-right" style="color:rgba(200,200,200,1);margin:15px 0;">10/10/2020</h6>
        </div>
    </article>
</section>

